@import '../../base.less';

.footer {
  width: 100%;
  height: 1.5rem;
  font-size: 0.14rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  color: #233846;
  background-color: #fff;
  bottom: 0;
  left: 0;
  box-shadow: 0 -0.05rem 0.05rem rgba(115, 133, 182, 0.05);

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;

    img {
      width: 0.6rem;
      margin-bottom: 0.05rem;
    }

    span {
      display: inline;
    }
  }

  .blue {
    background: @blue;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and
(-webkit-device-pixel-ratio: 3) {
  /* iPhone X 导航操作栏上移*/
  .Footer {
    bottom: 25px;
  }
}

