@blue: #5388be;

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-img {
  width: 0.66rem;
  height: 0.46rem;
}

.base-btn {
  background: @blue;
  width: 2.88rem;
  height: 0.8rem;
  margin: 0 0.2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}