@import './base.less';

body {
  margin: 0;
  padding: 0;
  font-size: 0.28rem;
  font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-serif;
}
div, p, h1{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration : none
}
button:disabled {
  background: #d9d9d9 !important;
  color: #fff !important;
  border: none;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    .dream-ball {
      max-width: 414px;
      max-height: 736px;
      font-size: 38.33px;
    }
  }
}

